<div class="job-item-container">
  <div class="job-item-container__job-item-wrapper">
    <div class="job-item-container__job-item-wrapper__company-img">
      <img
        src="https://thumbs.dreamstime.com/b/ikona-logo-programu-mobile-google-chrome-redakcyjny-wektor-gie%C5%82dowy-app-flat-icon-clipart-p%C5%82aska-przezroczyste-t%C5%82a-png-299529626.jpg"
        alt=""
      />
    </div>
    <div class="job-item-container__job-item-wrapper__job-info">
      <div class="job-item-container__job-item-wrapper__job-info__company-info">
        <p class="company-name">Google</p>
        <h1 class="job-name">Google Chrome Dev</h1>
        <p class="job-location">USA, Remote</p>
        <div class="tags">
          <span class="tag">Junior</span>
        </div>
      </div>
      <div class="job-item-container__job-item-wrapper__job-info__post-date">
        <p class="time-ago">3 days ago</p>
      </div>
    </div>
  </div>
</div>
