@import "../../../../public/variables.scss";

nav {
  margin: auto;
  padding: 0rem 2rem;
  background-color: white;
  -webkit-box-shadow: 0px 2px 80px -23px rgba(0, 0, 0, 0.226);
  -moz-box-shadow: 0px 2px 80px -23px rgba(0, 0, 0, 0.226);
  box-shadow: 0px 2px 80px -23px rgba(0, 0, 0, 0.226);
}

.nav-container {
  max-width: 1440px;
  margin: auto;

  &__nav-wrapper {
    display: flex;
    padding: 24px 0 24px 0;
    justify-content: flex-start;
    align-items: center;

    &__logo {
      margin-right: 3rem;
      display: flex;
      align-items: center;
    }

    &__menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // display: flex;
      // align-items: center;

      ul {
        display: flex;
        flex-direction: row;

        .nav-link {
          list-style-type: none;
          justify-content: space-between;
          align-items: center;

          a {
            color: $greyishBlue;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            margin-right: 2rem;
            transition: 0.2s;

            &:hover {
              cursor: pointer;
              color: $mainBlue;
            }
          }
        }
      }
    }

    &__nav-hamburger {
      display: none;

      &__mobile-container {
        position: relative;
        app-mobile-menu {
          position: absolute;
          z-index: 5;
          top: 55px;
          left: 0;
        }
      }
    }
  }
}

.product-nav {
  background-color: $black;
  border-bottom: unset;
}

@media screen and (max-width: 880px) {
  .nav-container {
    &__nav-wrapper {
      padding: 32px 0;
      justify-content: space-between;
      &__nav-hamburger {
        display: block;
        .hamburger-button {
          background-image: url("../../../../public/icons/hamburger.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          background-color: unset;
          border: unset;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &__menu {
        display: none;
        position: absolute;
        background-color: $white;
        border-radius: 8px;
        padding: 1rem 2rem;
        right: 2rem;
        top: 128px;
        max-width: 350px;
        width: 100%;
        box-sizing: border-box;
        z-index: 20;

        ul {
          flex-direction: column;
          justify-content: center;
          padding-left: 0;

          .nav-link {
            display: block;
            text-align: center;
            font-size: 18px;
          }

          .nav-link a {
            display: block;
            width: 100%;
            padding: 0.5rem;
          }
          .nav-link:not(:first-child) {
            margin-top: 1rem;
          }
          a {
            margin-right: 0 !important;
          }
        }

        &__user-buttons {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 2rem;

          app-btn:not(:first-child) {
            margin-top: 0.35rem;
          }
        }
      }
    }
  }

  .display-block {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .nav-container {
    &__nav-wrapper {
      &__menu {
        max-width: 80%;
        left: 0;
        right: 0;

        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.backdrop {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: calc(100% - 94px);
}
