<div class="job-details-container">
  <div class="job-details-container__wrapper">
    <div class="job-details-container__wrapper__company-header">
      <div class="company-logo">
        <img
          src="https://thumbs.dreamstime.com/b/ikona-logo-programu-mobile-google-chrome-redakcyjny-wektor-gie%C5%82dowy-app-flat-icon-clipart-p%C5%82aska-przezroczyste-t%C5%82a-png-299529626.jpg"
          alt=""
        />
      </div>
      <div class="header-buttons">
        <button>x</button>
        <button>x</button>
        <button>x</button>
      </div>
    </div>
    <div class="job-details-container__wrapper__job-header">
      <h1>Google Chrome Dev</h1>
      <span>
        <span>Google</span>
        <span>Remote, USA</span>
      </span>
      <span>
        <span>14 days ago</span>
        <span>95 applies</span>
      </span>
    </div>
    <div class="job-details-container__wrapper__job-details-info">asdasd</div>
  </div>
</div>
